body {
  font-family: Arial, sans-serif;
  background-color: lightcyan;
  margin: 0;
  padding: 0;
}

.form-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: cadetblue;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
}

h2 {
  margin-bottom: 20px;
  color: aliceblue;
}
p {
  font-size: 1em;
  color: aliceblue;
  margin-bottom: 20px;
  text-align: center;
  font-family: cursive;
}


label {
  margin-top: 10px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="phoneNumber"],
input[type="number"] {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
}

button {
  margin-top: 20px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #28a745;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}

.error {
  color: red;
  font-size: 0.875em;
  margin-top: 5px;
}
.success {
  color: green;
  font-size: 1.125em;
  margin-top: 20px;
  text-align: center;
}
